body {
    font-family: Mako;
    margin: 0;
    padding: 0;
}

.body-port {
    font-family: Mako;
    margin: 0;
    padding: 0;
    background-color: #CED3DC;
}

#logo {
    width: 80px; /* Adjust the width as needed */
    margin-bottom: 2px; /* Adds space between logo and links */
    top: 55px;
    position: fixed;
    right: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #77696A; /* Set your desired background color */
}

nav {
    position: fixed;
    top: 10;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px; /* Adjust the margin-top to create space between logo and nav */
    background-color: #77696A; /* Set your desired background color */
    width: 120px; /* Set your desired width */
    height: 25%; /* Set your desired height */
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #000000; /* Adjust the color as needed */
    margin-bottom: 10px; /* Adjust the spacing between links */
}

nav a:hover {
    background-color: #D0B8AC;
}

button {
    margin-top: 10px; /* Adjust the spacing between the links and the button */
    background-color: #D0B8AC; /* Set your desired background color */
    color: #000000; /* Set the text color */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #7c7c7c; /* Set your desired hover background color */
}

header {
    background-color: #5d5555;
    color: #000000;
    padding: 15px;
    text-align: left;
    display: flex;
    align-items: left; 
}

/* portfolio header */
.header-2 {
    background-color: #60495A;
    color: #000000;
    padding: 25px;
    text-align: left;
    display: flex;
    align-items: left; /* Align items vertically in the center */
}

/* about me section of home layout*/
.square-layout {
    /* padding: 80px; */
    text-align: right; 
    background-color: #B3A7A3;
    padding: 30px;
    text-align: center;
    display: flex; /* Add flex display to align items horizontally */
    align-items: center; /* Center items vertically in the flex container */
}

.left-image {
    max-width: 250px; /* Adjust the max-width as needed */
    margin-right: 50px; /* Add margin to separate the image from text */
}

.below-image {
    max-width: 13%; /* Ensure the image doesn't exceed the width of its container */
    margin-top: 20px; /* Adjust the margin as needed */
}

.images-container {
    display: flex;
    flex-direction: column;
}

.images-container a:hover img {
    transform: scale(1.3); /* Increase the size on hover */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #77696A; /* Green color, you can change this */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; /* Adjust the margin as needed */
}

.social-icons img {
    margin-right: 10px; /* Adjust the margin as needed */
}

.content-main {
    flex-grow: 1;
    margin-left: 20px; /* Adjust the margin as needed */
}

.content-qual {
    max-width: 250px; /* Adjust the max-width as needed */
    margin-right: 80px; /* Add margin to separate the image from text */
}

p {
    font-size: 18px; /* Adjust the font size as needed */
}

section {
    padding: 25px;
    text-align: right; /* Align text to the left for all sections */
}




/* Goals Section of home page*/
.flex-container {
    display: flex;
    justify-content: space-between; /* Add space between content and image */
    align-items: center;
}

.section1-image {
    max-width: 270px; /* Adjust the max-width as needed */
    padding: 30px;
}

.section2-image {
    max-width: 200px; /* Adjust the max-width as needed */
    margin-right: 50px; /* Add margin to separate the image from text */
}

.section3-image {
    max-width: 270px; /* Adjust the max-width as needed */
    padding: 30px;
}

#section1-goals {
    display: flex;
    align-items: center; /* Center items vertically in the flex container */
}

#section1-proj {
    display: flex;
    align-items: center; /* Center items vertically in the flex container */
}

.content1 {
    padding: 25px;
    text-align: left;
    flex-grow: 1;
    background-color: #D0B8AC;
}

.content2 {
    padding: 25px;
    text-align: center;
    flex-grow: 1;
    background-color: #D0B8AC;
}

/* portfolio content */
.content3 {
    padding: 25px;
    text-align: left;
    flex-grow: 1;
    background-color: #CED3DC;
}

.content5 {
    padding: 25px;
    text-align: left;
    flex-grow: 1;
    background-color: #CED3DC;
}

 /* Qualification content */
#section1-resume {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add a border around the section */
}

#section1-link {
    text-align: center;
    padding: 20px;
    background-color: #5d5555;
}

.pdf-link {
    text-align: center;
    padding: 20px;
    background-color: #5d5555;
    color: #000000; /* Set the text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%; /* Adjust the maximum width as needed */
    height: auto;
    box-sizing: border-box; 
    overflow: auto;
}

.pdf-viewer {
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.download-button {
    margin-top: 10px;
    text-align: center; /* Center the button within the container */
    background-color: #D0B8AC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none; /* Corrected the 'red' value to 'none' */
    color: #000000;
    display: inline-block;
}

.download-button a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #5d5555;
    color: #547c54;
    text-decoration: none; /* Corrected the 'red' value to 'none' */
    border-radius: 10px;
    transition: background-color 0.10s;
}

.download-button a:hover {
    background-color: #777;
}

/* services content */
.content6 {
    padding: 30px;
    text-align: left;
    flex-grow: 1;
    align-items: center;
    background-color: #CED3DC;
}

.content7 {
    padding: 25px;
    text-align: left;
    flex-grow: 1;
    background-color: #CED3DC;
    align-items: center;
}

#section1-serv {
    display: flex;
    align-items: center; /* Center items vertically in the flex container */
    background-color: #CED3DC;
}

#section2-serv {
    display: flex;
    align-items: center; /* Center items vertically in the flex container */
    background-color: #CED3DC;
}


.section4-image {
    max-width: 270px; /* Adjust the max-width as needed */
    padding: 25px;
}

.section5-image {
    max-width: 200px; /* Adjust the max-width as needed */
    margin-right: 50px; /* Add margin to separate the image from text */
}

/* AI Page Styles */
#section1-ai {
    background-color: #FBFEFB;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.section3-image {
    max-width: 270px; /* Adjust the max-width as needed */
}

.content4 {
    padding: 25px;
    text-align: left;
    flex-grow: 1;
}
